*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#character{
    width: 70px;
    height: 70px;
    background-color: brown;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.area{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}